<div class="app-logo text-center my-3 bg-white">
    <img mat-card-image src="../../../../assets/images/logo/logo.png" alt="Photo of a Shiba Inu" class="img img-fluid mxh-75px">
</div>
<mat-divider></mat-divider>

<mat-list role="list" >
    <mat-list-item  class="active item-list" role="listitem"><mat-icon>home</mat-icon> Home</mat-list-item>
    <mat-list-item class="item-list" role="listitem"><mat-icon>home</mat-icon> Manage Learning</mat-list-item>
    <mat-list-item class="item-list" role="listitem"><mat-icon>laptop</mat-icon> Self Learning</mat-list-item>
    <mat-list-item class="item-list" role="listitem"><mat-icon> insert_drive_file</mat-icon> Report</mat-list-item>
    <mat-list-item class="item-list" role="listitem"><mat-icon>settings</mat-icon> Setting</mat-list-item>
    <mat-list-item class="item-list" role="listitem"><mat-icon>calendar_today</mat-icon> Calender</mat-list-item>
    <mat-list-item class="item-list" role="listitem"><mat-icon>access_time</mat-icon> Time Table</mat-list-item>
</mat-list>
  