<mat-toolbar  class="ps-0 bg-white">
    <div class="d-flex justify-content-between w-100">
        <div>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggelSidebar()">
                <mat-icon >menu</mat-icon>
              </button>
              
        </div>
        <div>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon> chat</mat-icon>
              </button>
              <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>notifications_active</mat-icon>
              </button>
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <!-- <mat-icon>share</mat-icon> -->
                <mat-icon>account_circle</mat-icon>
              </button>
        </div>
    </div>
  </mat-toolbar>